@font-face {
    font-family: 'Milk';
    src:url("../fonts/Milk-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'Noto Sans';
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #0e0f10;
    color: white;
    display: flex;
    flex-direction: row;
}

.sidebar{
    border-right: 1px solid #383b3b;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 1% 1%;
    text-align: start;
}

.sidebaritems{
    width: 100%;
    height: 100%;
}

.sidebarLogo{
    height: 12%;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sidebarLogo img{
    width: 20%;
    margin-right: 2%;
    height: 45%;
}

.menu{
    height: 83%;
}

.items{
    list-style: none;
}

.title{
    align-items: center;
    width: 98%;
    height: 5%;
    font-size: .8em;
    margin: 7% 1%;
    display: none;
    justify-content: space-between;
    display: flex;
}

.title span{
    color: #8f9396;
}

.title img{
    opacity: 50%;
}

.title2{
    align-items: center;
    width: 98%;
    height: 5%;
    font-size: .8em;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: space-between;
    display: flex;
}

.listedItems{
    width: 90%;
    font-size: .9em;
    height: 20%;
    margin: 6% 6%;
}

.listedItems2{
    width: 90%;
    font-size: .9em;
    height: 52%;
    margin: 6% 6%;
}

.listedItems .items{
    height: 100%;
}

.listedItems2 .items{
    height: 100%;
}

.listedItems2 .items li{
    padding: 6% 6%;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 12.75%;
    transition: .2s;
}

.listedItems .items li{
    padding: 6% 6%;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 30%;
    transition: .2s;
}

.listedItems .items li span{
    color: #e3e5e8;
}

.listedItems .items li:nth-child(2) span, .listedItems .items li:nth-child(3) span{
    color: #86898c;
}

.listedItems .items li:nth-child(2) img, .listedItems .items li:nth-child(3) img{
    opacity: 50%;
}

.title2 span{
    color: #a0a4a7;
}

.title2 img{
    opacity: 50%;
}

.listedItems .items li:hover, .listedItems2 .items li:hover{
    background-color: rgb(37, 37, 37);
    cursor: pointer;
}

.listedItems2 .items li span{
    color: #86898c;
}

.endItems{
    height: 13%;
    width: 80%;
    padding: 4% 0%;
    position: relative;
    bottom: 0;
    margin: 0 1%;
}

div .Items:nth-child(2){
    margin-top: 3%;
}

ul.items li{
    margin: 4% 0%;
    padding: 4% 1%;
    align-items: center;
    display: flex;
} 
.title img, .title2 img{
    width: 11%;
}

.title img:hover, .title2 img:hover{
    cursor: pointer;
}

.optIcons{
    width: 30px; 
    height: 30px;
    margin-right: 11%;
}

ul.items li img:hover{
    cursor: pointer;
}

.Items{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    padding: 4% 0%;
    font-size: .8em;
}

.Items img{
    height: 75%;
    width: 10%;
    margin-right: 4%;
}

.Items span{
    font-size: 1em;
}

.playlistImgs{
    width: 35px;
    border-radius: 50%;
    height: 35px;
    object-fit: cover;
    object-position: center center;
    margin-right: 10%;
}

.logout{
    color: #f65447;
}

.content{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #383b3b;
}

.navbar{
    width: 100%; 
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn img{
    width: 50%;
    height: 50%;
}

.topInp{
    width: 70%;
    height: 75%;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    outline: none;
    padding: 1% 2%;
    background-color: #1b1d20;
    color: white;
}

.searchBtn{
    margin: 1% 1%;
    border-radius: 50%;
    background-color: #1b1d20;
    width: 4.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72%;
    border: 0px solid white;
    transition: .2s;
}

.searchBtn:hover{
    background-color: white;
}

.genreSlider{
    width: 95%;
    height: 6%;
    padding: 1% 1%;
    /* overflow: scroll;
    scrollbar-width: 1%; */
}

.genreBtn{
    height: 100%;
    padding: 0% 1%;
    border-radius: 25px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 1.5px solid #ffffff;
    margin: 0 .15%;
    transition: .2s;
}

.genreBtn:hover{
    color: black;
    background-color: white;
}

.tabs{
    width: 95%;
    height: 82%;
    padding: 1% 1%;
    padding-top: 0 !important;
}

.tabsRow1, .tabsRow2, .tabsRow3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32%;
    margin-bottom: 1%;
    justify-content: space-between;
}

.tabsRow1 .tab, .tabsRow2 .tab, .tabsRow3 .tab{
    height: 100%;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 1% 1%;
}

.tabsRow1 .tab:nth-child(2){
    width: 49%;
}

.tabsRow2 .tab:nth-child(2){
    width: 69%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://edm.com/.image/t_share/MTgxMzYwNDQzODUwMjM3MDMx/alan_walker_press_shot.jpg");
}

.tabsRow2 .tab:nth-child(1){
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.thescottishsun.co.uk/wp-content/uploads/sites/2/2019/02/NINTCHDBPICT0004656885561-e1550170338365.jpg?w=1860");
}



.tabsRow1 .tab:nth-child(1){
    background-image: url("https://th.bing.com/th/id/OIP.LHVqT8MzyNrQOPhSiLXGSQHaFj?rs=1&pid=ImgDetMain");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tabsRow1 .tab:nth-child(2){
    background-image: url("https://metalitalia.com/wp-content/uploads/2020/11/acdc-band-3-2020.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tabsRow1 .tab:nth-child(3){
    background-image: url("https://a-static.besthdwallpaper.com/dua-lipa-beautiful-necklace-red-dress-and-red-background-wallpaper-1400x1050-89721_21.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tabsRow1 .tab:nth-child(1), .tabsRow1 .tab:nth-child(3){
    width: 24.5%;
}

.tabsRow3 .tab:nth-child(1){
    width: 69%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://media.zoomnoticias.com/p/d3c70aadc77e37fece64b309aa65d36e/adjuntos/300/imagenes/000/045/0000045784/1200x675/smart/ava-maxpng.png");
}

.tabsRow3 .tab:nth-child(2){
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.nme.com/wp-content/uploads/2020/10/Ariana-Grande.jpg");
}

.tabTitle{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: end;
}

.tabTitle h1{
    font-size: 30px;
    color: white;
    font-weight: 600;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.tabContent{
    margin: 1% 1%;
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.tabtitle h1, .tabDesc{
    color: white;
}

.tabBtn{
    width: 18%;
    height: 15%;
    margin-top: 1%;
}

.tabBtn button{
    width: 100%;
    outline: none;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    height: 100%;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.tabBtn button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.rightBar{
    width: 20%;
    height: 100%;
    padding: 1% 1%;
}

.userInfo{
    width: 100%;
    height: 5%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.userInfo .img{
    margin-right: 5%;
    display: flex;
    align-items: center;
}
.userInfo .img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.userName h1{
    font-size: 15px;
}

.userName p{
    font-size: 10px;
    display: flex;
    align-items: center;
    color: #96999c;
}

.userInfo .bellIcon img{
    width: 25px;
    height: 25px;
}

.UserDesc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 84%;
}

.userInfo .bellIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.queues{
    width: 100%;
    height: 50%;
    margin-top: 7%;
}

.QTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.QTitle h4{
    font-size: 15px;
}

.QTitle h5{
    font-size: 10px;
    font-weight: 400;
    transition: .2s;
    color: rgba(255, 255, 255, 0.719);
}

.QTitle h5:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.Qsongs{
    width: 100%;
    margin-top: 2%;
    height: 100%;
}

.QSongs{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    border-radius: 2px;
    transition: .2s;
    padding: 1% 1%;
    cursor: pointer;
}

.QSongs:hover{
    background-color: rgb(37, 37, 37);
}

.SongImg img{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.SongDesc{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.SongImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SongInfo h4{
    font-size: 13px;
    font-weight: 500;
}

.SongInfo h5{
    font-size: 10px;
    color: #b2b8bd;
    font-weight: 400;
}

.SongTime h5{
    font-size: 10px;
    color: #b2b8bd;
    font-weight: 400;
}

.Song{
    width: 100%;
    height: 44%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.songImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.songImg img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.songImg img:hover{
    cursor: pointer;
}

.songinfo{
    justify-content: space-between;
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 5%;
    align-items: center;
}

.info h3{
    font-size: 20px;
    font-weight: 500;
}

.info h4{
    font-size: 12px;
    font-weight: 300;
    color: #b2b8bd;
}

.info h3:hover, .info h4:hover{
    cursor: pointer;
    text-decoration: underline;
}

.likeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.likeIcon img{
    width: 35px;
    height: 35px;
}

.crown{
    width: 12px;
    height: 12px;
    margin-left: 1%;
}

.player{
    width: 100%;
    height: 9%;
    border-top: 1px solid #383b3b;
}

.player{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.playerControls{
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.p1, .p2, .p3{
    display: flex;
    height: 100%;
    align-items: center
}

.p1{
    width: 15%;
    justify-content: start;
}

.p2{
    width: 68%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audioControls{
    width: 50%;
    height: 74%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5%;
    align-items: center;
}

.p3{
    width: 15%;
    justify-content: space-between;
}

.p1 img:nth-child(1), .p1 img:nth-child(2){
    margin-right: 10%;
}

.p1 img, .p3 img{
    width: 12%;
}

.p2 img{
    width: 10%;
}

.p2 img:nth-child(1), .p2 img:nth-child(2), .p2 img:nth-child(4), .p2 img:nth-child(5){
    width: 6%;
}



.p1 img:hover, .p2 img:hover{
    cursor: pointer;
}

.p2 img:nth-child(3){
    background-color: #212325;
    padding: 2% 2%;
    border-radius: 50%;
}

.p2 img:nth-child(2){
   rotate: 180deg;
}

#volSeeker {
  margin-right: 5%;
  accent-color: white;
  width: 70%;
  height: 6px;
}

#audSeeker{
    accent-color: white;
    width: 75%;
    outline: none;
    height: 6px;
    margin: 0 1%;
}

#audSeeker:hover{
    cursor: pointer;
}

.bars{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bars div{
    font-size: 13px;
    width: 4%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.SongInfo h4:hover, .SongInfo h5:hover{
    text-decoration: underline;
}

.notSelectable{
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.userName h1:hover, .userName p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.bellIcon:hover{
    cursor: pointer;
}

.userInfo .img img:hover, .p3 img:hover{
    cursor: pointer;
}

.artist, .songsTabs{
    height: 82%;
    padding: 1% 1%;
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.albumTabs{
    height: 82%;
    padding: 1% 1%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.albumTab{
    width: 95%;
    height: 100%;
}

.albumTabs::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f500;
}

.albumTabs::-webkit-scrollbar
{
  width: 7px;
  background-color: #f5f5f500;
  border-radius: 10px;
}

.albumTabs::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(139, 139, 139);
}

.playlistTabs{
    height: 82%;
    padding: 1% 1%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.playlistTabs{
    overflow: scroll;
    overflow-x: hidden;
}

.playListTab{
    width: 95%;
    height: 100%;
}

.playlistMusic{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.playlistTabs::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f500;
}

.playlistTabs::-webkit-scrollbar
{
  width: 7px;
  background-color: #f5f5f500;
  border-radius: 10px;
}

.playlistTabs::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(139, 139, 139);
}

.artistTile{
    height: 40%;
    width: 100%;
    background-image: url("https://i.scdn.co/image/ab676186000010169c1b0a0ba57436813bbab116");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.songInfo, .albumInfo, .playlistInfo{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    flex-direction: column;
}

.artistInfo{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    padding: 2% 4%;
    flex-direction: column;
}

.artistVerification, .songInfoSong, .artistName, .artistListeners{
    margin: 1% 0;
}

.artistVerification, .songInfoSong{
    display: flex;
    align-items: center;
    height: 5%;
}

.artistVerification h4, .songInfoSong h4{
    font-size: 15px;
    font-weight: 500;
}

.artistVerification img, .songInfoSong img{
    width: 4%;
    margin-right: 5px;
}

.artistName h1{
    font-size: 65px;
    font-weight: 600;
}

.artistListeners h3, .songListeners h3{
    font-weight: 500;
    font-size: 14px;
}

.artistImage{
    display: none;
    width: 50%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: end;
}

.artistImage img{
    width: 50%;
}

.artistMusic, .songMusic, .albumMusic{
    width: 100%;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    /* justify-content: start;
    align-items: start; */
}

.artistMusic .Title{
    display: flex;
    width: 100%;
    height: 10%;
    margin: 2% 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.artistMusic .Title h1{
    font-weight: 600;
    font-size: 28px;
}

.artistMusic .Title h3{
    font-weight: 400;
    font-size: 15px;
    color: #b2b8bd;
}

.artistMusic .Title h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.artistMusic .columns, .songMusic .columns, .albumMusic .columns, .playlistMusic .columns{
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
}

.artistMusic .columns, .songMusic .columns, .albumMusic .columns, .playlistMusic .columns{
    width: 100%;
    height: 10%;
    margin-bottom: .5%;
    display: flex;
    align-items: center;
}

.artistMusic .columns div, .songMusic .columns div, .albumMusic .columns div, .playlistMusic .columns div{
    height: 100%;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    /* margin-right: 1%; */
    display: flex;
    align-items: center;
}

.artistMusic .columns div:nth-child(1), .songMusic .columns div:nth-child(1), .albumMusic .columns div:nth-child(1), .playlistMusic .columns div:nth-child(1){
    width: 5%;
}

.songMusic .columns div:nth-child(2), .albumMusic .columns div:nth-child(2), .playlistMusic .columns div:nth-child(2){
    width: 3%;
    visibility: hidden;
}

.artistMusic .columns div:nth-child(2){
    width: 2%;
    visibility: hidden;
}

.artistMusic .columns div:nth-child(3), .songMusic .columns div:nth-child(3){
    width: 45%;
}

.playlistMusic .columns div:nth-child(3){
    width: 41%;
}

.albumMusic .columns div:nth-child(3){
    width: 79%;
}

.songMusic .columns div:nth-child(3){
    width: 41% !important;
}

.artistMusic .columns div:nth-child(3){
    width: 42% !important;
}

.artistMusic .columns div:nth-child(4), .songMusic .columns div:nth-child(4), .playlistMusic .columns div:nth-child(4){
    width: 13%;
}

.albumMusic .columns div:nth-child(4){
    justify-content: end;
    width: 13%;
}

.songMusic .columns div:nth-child(4){
    width: 26% !important;
}

.artistMusic .columns div:nth-child(4){
    width: 26% !important;
}

.playlistMusic .columns div:nth-child(4){
    width: 13% !important;
}

.artistMusic .columns div:nth-child(4){
    width: 15% !important;
}

.artistMusic .columns div:nth-child(5), .songMusic .columns div:nth-child(5){
    width: 4%;
}

.playlistMusic .columns div:nth-child(5){
    justify-content: end;
    width: 38%;
}

.albumMusic .columns div:nth-child(5){
    width: 38%;
    justify-content: end;
}

.songMusic .columns div:nth-child(5){
    width: 25%;
    justify-content: end;
}

.artistMusic .columns div:nth-child(5){
    width: 38% !important;
    justify-content: end;
}

.artistMusic .columns div:nth-child(6), .songMusic .columns div:nth-child(6), .albumMusic .columns div:nth-child(6), .playlistMusic .columns div:nth-child(6){
    width: 30%;
    display: flex;
    justify-content: end;
    margin-right: 0 !important;
}

.songMusic .columns div:nth-child(6), .artistMusic .columns div:nth-child(6){
    width: 14% !important;
}

.songs{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    transition: .3s;
}

.songs:hover{
    cursor: pointer;
    /* border-left: 5px solid #d60000;
    padding-left: 5px; */
}

.songTitle:hover, .songAlbum:hover, .songImage:hover{
    text-decoration: underline;
}


/* .artistMusic span, .songMusic span, .albumMusic span{
    margin-right: 1%;
} */

.artistMusic .songs span:nth-child(1), .songMusic .songs span:nth-child(1), .albumMusic .songs span:nth-child(1), .playlistMusic .songs span:nth-child(1){
    width: 3%;
    height: 100%;
    display: flex;
    align-items: center;
}

.artistMusic .songs span:nth-child(2), .songMusic .songs span:nth-child(2), .albumMusic .songs span:nth-child(2), .playlistMusic .songs span:nth-child(2){
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.artistMusic .songs span:nth-child(3), .songMusic .songs span:nth-child(3), .playlistMusic .songs span:nth-child(3){
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}

.albumMusic .songs span:nth-child(3){
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.songMusic .songs span:nth-child(3){
    width: 41% !important;
}

.artistMusic .songs span:nth-child(3){
    width: 45% !important;
}


.playlistMusic .songs span:nth-child(3){
    width: 41%;
}

.artistMusic .songs span:nth-child(4), .songMusic .songs span:nth-child(4), .playlistMusic .songs span:nth-child(4){
    width: 27%;
    height: 100%;
    display: flex;
    align-items: center;
}

.albumMusic .songs span:nth-child(4){
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.artistMusic .songs span:nth-child(4){
    width: 25% !important;
}

.songMusic .songs span:nth-child(4){
    width: 19% !important;
}

.artistMusic .songs span:nth-child(5), .songMusic .songs span:nth-child(5){
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.playlistMusic .songs span:nth-child(5){
    width: 24%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.albumMusic .songs span:nth-child(5){
    width: 29%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.songMusic .songs span:nth-child(5), .artistMusic .songs span:nth-child(5){
    width: 32% !important;
}

.artistMusic .songs span:nth-child(6), .songMusic .songs span:nth-child(6), .albumMusic .songs span:nth-child(6), .playlistMusic .songs span:nth-child(6){
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 0 !important;
    display: flex;
    justify-content: end;
}

.songMusic .songs span:nth-child(6), .artistMusic .songs span:nth-child(6){
    width: 27% !important;
}

.songPlayed, .songTitle, .songDuration, .songAlbum, .songNum{
    font-size: 14px;
    font-weight: 400;
}

.songPlayed, .songDuration, .songAlbum, .songNum{
    color: #b2b8bd;
}

.artistMusic .columns div, .songMusic .columns div, .albumMusic .columns div{
    font-size: 16px;
}

.hide{
    display: none !important;
}

.songsTile, .albumTile{
    height: 40%;
    width: 100%;
    background-color: #baa965;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 4% 4%;
}

.songsImage, .albumsImage, .playlistImage{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.songsImage img, .albumsImage img{
    width: 75%;
    border-radius: 25px;
}

.songImage img{
    width: 70%;
}

.songMusic .columns, .albumMusic .columns{
    margin-top: 2%;
}

.playlistMusic .columns{
    margin-top: 3%;
    margin-bottom: 3%;
}


#volSeeker:hover{
    cursor: pointer;
}

.lyricsTab{
    width: 100%;
    height: 82%;
}

.lyrics{
    width: 100%;
    height: 100%;
    font-size: 23px;
    font-weight: 500;
    overflow: scroll;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
}

.lyrics div{
    text-align: center;
}

.lyrics::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f500;
}

.lyrics::-webkit-scrollbar
{
  width: 7px;
  background-color: #f5f5f500;
  border-radius: 10px;
}

.lyrics::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(139, 139, 139);
}

.playlistImage img{
    border-radius: 25px;
    width: 15em;
    height: 15em;
    object-fit: cover;
    object-position: center center;
}

.playlistTile{
    height: 40%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: grey;
    padding: 4% 4%;
}

.preloader{
    width: 100%;
    height: 82%;
    background-color:#0e0f10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img{
    width: 5%;
}

.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 5;
    background-color: #0e0f10;
}

.loader img{
    width: 15%;
    height: 15%;
}

.artistVerification{
    visibility: hidden;
}

/* .artistListeners{
    display: flex;
    justify-content: space-between;
    width: 36%;
/* }  */

#songsCon{
    width: 100%;
    height: 100%;
}

.songMusic .columns{
    margin-bottom: 3% !important;
}

.albumMusic .columns{
    margin-bottom: 2% !important;
}

#albumArtist:hover{
    text-decoration: underline;
    cursor: pointer;
}

#songArtistName:hover{
    text-decoration: underline;
    cursor: pointer;
}

#playlistOwner:hover{
    text-decoration: underline;
    cursor: pointer;
}

.songListeners{
    display: flex;
    align-items: center;
}

.dot{
    margin: 0 .5%;
}