*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.sidebar{
    border-right: 2px solid #383b3b;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 1% 1%;
    text-align: start;
}

.sidebarItems{
    height: 100%;
}

.sidebarLogo{
    display: flex;
    justify-content: center;
}

.sidebarLogo img{
    width: 50%;
    height: 50%;
}

.menu{
    height: 83%;
}

.items{
    list-style: none;
}

.title{
    align-items: center;
    width: 98%;
    height: 5%;
    font-size: .8em;
    margin: 7% 1%;
    justify-content: space-between;
    display: flex;
}

.title2{
    align-items: center;
    width: 98%;
    height: 5%;
    font-size: .8em;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: space-between;
    display: flex;
}

.listedItems{
    width: 90%;
    font-size: .9em;
    height: 24%;
    margin: 6% 6%;
}

.listedItems2{
    width: 90%;
    font-size: .9em;
    height: 45%;
    margin: 6% 6%;
}

.listedItems .items{
    height: 100%;
}

.listedItems2 .items{
    height: 100%;
}

.listedItems2 .items li{
    padding: 6% 6%;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 18%;
    transition: .2s;
}

.listedItems .items li{
    padding: 6% 6%;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 33%;
    transition: .2s;
}


.listedItems .items li:hover, .listedItems2 .items li:hover{
    background-color: rgb(37, 37, 37);
    cursor: pointer;
}

.endItems{
    height: 13%;
    width: 80%;
    padding: 4% 0%;
    position: relative;
    bottom: 0;
    margin: 0 1%;
}

div .Items:nth-child(2){
    margin-top: 3%;
}

ul.items li{
    margin: 4% 0%;
    padding: 4% 1%;
    align-items: center;
    display: flex;
} 
.title img, .title2 img{
    width: 10%;
    height: 65%;
}

.title img:hover, .title2 img:hover{
    cursor: pointer;
}

.optIcons{
    width: 10%; 
    margin-right: 4%;
}

ul.items li img:hover{
    cursor: pointer;
}

.Items{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    padding: 4% 0%;
    font-size: .8em;
}

.Items img{
    height: 75%;
    width: 10%;
    margin-right: 4%;
}

.Items span{
    font-size: 1em;
}

.playlistImgs{
    width: 18%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    margin-right: 6%;
}

.logout{
    color: #f65447;
}