@font-face {
    font-family: tanNimbus;
    src: url("/fonts/tanNimbus.ttf");
}

@font-face {
    font-family: Freakshow;
    src: url("/fonts/Freakshow.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

.remHide{
    display: none !important;
}

body{
    background-color: black;
    color: white;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.leftSection{
    width: 13%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.459);
    padding: 1%;
}

.rightSection{
    background-color: rgb(0, 0, 0);
    width: 87.5%;
    height: 100%;
    /* background-image: url("/background/gradient.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 5% 1% 5%;
    overflow-y: scroll;
}


.rightSection::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  

.rightSection::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); 
    /* border-radius: 15px; */
    cursor: pointer;
    transition: 0.2s;
}
  

.rightSection::-webkit-scrollbar-thumb:hover {
    background: #ffffff69; 
}

.topSandwich{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3%;
    align-items: center;
}

.brandName{
    font-size: 20px;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.brandName span{
    font-family: 'tanNimbus';
    margin-top: 5%;
    font-size: 18px;
}

#menuLogo{
    width: 20%;
    padding: 4%;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    /* border: 1px solid transparent; */
}

#menuLogo:hover{
    background-color: rgba(128, 128, 128, 0.24);
    /* border: 1px solid rgba(128, 128, 128, 0.295); */
}

#menuLogo:active{
    background-color: rgba(128, 128, 128, 0.397);
}

#xptfy{
    width: 65%;
}

/* Navigation Buttons */
.NavigationButtons{
    width: 100%;
    height: 16%;
    margin-top: 15%;
}

.NavigationButtons ul{
    list-style: none;
    width: 100%;
    height: 100%;
}

.NavigationButtons li{
    list-style: none;
    width: 100%;
    height: 33.3%;
}

.navBtnHm{
    background-color: rgba(255, 255, 255, 0.26);
}

.navBtnHm, .navBtnExpl, .navBtnLib{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 6%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.navBtnHm img, .navBtnExpl img, .navBtnLib img{
    width: 12%;
    margin-right: 10%;
}

.navBtnHm:hover, .navBtnExpl:hover, .navBtnLib:hover{
    background-color: rgba(255, 255, 255, 0.15) !important;
}

/* Separation Bar */
.separationBar{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10%;
}

/* New Playlist Button */

.newPlaylistBtn{
    width: 100%;
    height: 4.5%;
    margin-top: 10%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.newPlaylistBtn img{
    height: 55%;
    margin-right: 1%;
}

.newPlaylistBtn span{
    font-size: 15px;
}

.newPlaylistBtn:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Pinned playlist */

.hide{
    visibility: hidden !important;
}

.pinnedPlaylist{
    width: 100%;
    height: 60%;
    margin-top: 10%;
}

.pinnedPlaylist ul{
    list-style: none;
}

.playlist{
    width: 100%;
    height: 25%;
    display: flex;
    padding: 6%;
    border-radius: 8px;
    transition: 0.1s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.playlist:hover{
    background-color: rgba(255, 255, 255, 0.26);
}

.playlistInfo{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.playBtn{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.playBtn img{
    width: 35%;
}

.playlistName{
    font-size: 14px;
}

.playlistOwner{
    font-size: 12px;
    margin-top: 1%;
    color: rgb(168, 168, 168);
}

/* topBar */

.topBar{
    width: 100%;
    height: 4.5%;
    display: flex;
    flex-direction: row;
}

.searchBar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.bar img{
    width: 4%;
    margin: 0 2% 0 2%;
}

.bar input{
    width: 90%;
    height: 65%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 2%;
    outline: none;
    font-weight: 400;
}

.bar{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff1c;
    border: 1px solid rgba(255, 255, 255, 0.548);
    padding: 0% 1% 0% 1%;
    border-radius: 8px;
}

.user{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.user img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* tomBtns */
.tomBtns{
    width: 100%;
    height: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0 5% 0;
}

.tomBtns ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tomBtns ul li{
    list-style: none;
    width: auto;
    height: 100%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-right: 0.65%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.tomBtns ul li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


/* Greet */

.greetMsg{
    height: 20%;
    width: 100%;
    display: none;
    /* justify-content: center; */
    flex-direction: column;
    margin-bottom: 2%;
}

.greet{
    font-size: 25px;
    font-weight: 400;
}

.greetUser{
    font-size: 60px;
    font-weight: 600;
    font-family: 'tanNimbus' !important;
    margin-top: 1%;
}

/* Feed */

.playlists{
    width: 100%;
    height: 40%;
    margin-bottom: 4%;
}

.playlists ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    overflow-x: scroll;
}


.playlists ul::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}

.playlists ul:hover{
    &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.1);
    }
}
  
/* .playlists ul::-webkit-scrollbar-track {
    border-radius: 10px;
} */
   

.playlists ul::-webkit-scrollbar-thumb {
    background-color: transparent; 
    /* border-radius: 15px; */
    cursor: pointer;
    transition: 0.2s;
}
  

.playlists ul::-webkit-scrollbar-thumb:hover {
    background: #ffffff2c; 
}

.heading{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 1%;
}

.heading span{
    cursor: pointer;
}

.heading span:hover{
    text-decoration: underline;
}

.Playlist{
    list-style-type: none;
    height: 100%;
    min-width: 15%;
    margin-right: 1%;
}

.Playlist .playlistCover{
    width: 100%;
    height: 75%;
    cursor: pointer;
}

.Playlist .playlistCover img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    height: 100%;
    transition: 0.1s;
}

/* .playlistCover img:hover{
    opacity: 50%;
} */

.opac65{
    opacity: 65%;
}

.playlistCover img:nth-child(2){
    width: 21%;
    background-color: #000000a6;
    height: 21%;
    position: relative;
    padding: 5.5%;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    top: -28%;
    left: 72%;
    opacity: 0%;
    transition: 0.3s;
}

.playlistPlayBtn:hover{
    opacity: 100%;
    transform: scale(1.1);
    background-color: black !important;
}

.playlistOptBtn:hover{
    background-color: #ffffff2d;
}

.playBtn{
    top: -31% !important;
    opacity: 100% !important;
}

.PlaylistInfo{
    width: 100%;
    height: 15%;
    margin-top: 4%;
}

.PlaylistName{
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.PlaylistName span:hover{
    text-decoration: underline;
}

.PlaylistExtInf{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1%;
}

.PlaylistType, .PlaylistOwner, .whoop{
    color: rgba(255, 255, 255, 0.562);
    font-size: 13px;
    font-weight: 300;
}

.PlaylistOwner{
    cursor: pointer;
}

.PlaylistOwner:hover{
    text-decoration: underline;
}

.PlaylistType, .whoop{
    margin-right: 2%;
}


/* Music Player */

.musicPlayer{
    position: fixed;
    width: 100%;
    height: 8vh;
    top: 92%;
}

.progressBar{
    width: 0%;
    height: 3%;
    cursor: pointer;
    /* background-color: rgb(214, 0, 0); */
    background: rgb(224,0,0);
    background: linear-gradient(90deg, rgba(224,0,0,1) 0%, rgba(255,0,116,1) 100%);
}

.player{
    width: 100%;
    height: 97%;
    background-color: #1a1a1a;
    padding: 0.25% 2% 0.25% 1%;
    display: flex;
    align-items: center;
}

.trackInfo{
    width: 40%;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.trackInfo img:nth-child(1){
    width: 8%;
    height: auto;
    cursor: pointer;
}

.trackDetails{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    justify-content: center;
}

.trackArtists{
    font-size: 11px;
    color: #b7b7b7;
}

.trackName{
    margin-bottom: 1.5%;
    cursor: pointer;
}

.trackName:hover{
    text-decoration: underline;
}

.audioControls{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
}

.audioControls img:nth-child(1){
    width: 4.5%;
    transform: rotate(180deg);
    cursor: pointer;
}

.audioControls img:nth-child(2){
    width: 7%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}

.audioControls img:nth-child(3){
    width: 4.5%;
    cursor: pointer;
}

.extraControls{
    display: flex;
    width: 40%;
    height: 60%;
    justify-content: end;
}

.extraControls div img{
    opacity: 55%;
}

.extraControls div{
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    margin-right: 5%;
    cursor: pointer;
    transition: 0.1s;
}

.extraControls div:nth-child(5) img{
    width: 16px;
    height: 16px;
}

.extraControls div:nth-child(7){
    margin-right: 0% !important;
}

.extraControls div img{
    width: 21px;
    height: 21px;
    cursor: pointer;
    transition: 0.1s;
}

#volumeSlider{
    margin-right: 2%;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15%;
    transition: 0.2s;
    accent-color: white;
    display: none;
}

#volumeSlider::-webkit-slider-runnable-track {
    background: #ffffff31;
    height: 5%;
    border-radius: 10px;
}

#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -5px; 
    background-color: gray;
    height: 13px;
    width: 13px;    
    border-radius: 50%;
}

#volumeSlider:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background-color: white;
}

.trackCover{
    left: 85%;
    top: 63%;
    position: fixed;
    width: 13%;
}

.trackCover img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0;
    transition: 0.20s;
    display: none;
}


/* TrackTime Details */

.trackTime{
    width: 10%;
    margin-left: 4%;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.521);
}

.currentTime{
    margin-right: 5%;
}

.trackDuration{
    margin-left: 5%;
}

/* Track Audio Seeker */

#audioSeeker{
    width: 100%;
    height: 3%;
    position: absolute;
    top: 0%;
    accent-color: transparent;
    background-color: transparent;
    outline: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

#audioSeeker::-webkit-slider-runnable-track {
    background: transparent;
    height: 5%;
    border-radius: 10px;
}

#audioSeeker::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -6px; 
    background-color: rgb(231, 0, 0);
    height: 12px;
    width: 12px;    
    border-radius: 50%;
    visibility: hidden;
    cursor: pointer;
}

#audioSeeker:hover{
    &::-webkit-slider-thumb{
        visibility: visible;
    }
}

#audioSeeker:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background-color: rgb(255, 0, 0);
}

/* TrackCover */

.anim{
    animation-name: tc;
    animation-duration: 0.5s;
    display: block;
}

.mina{
    animation: ct 0.5s;
    display: none;
}

@keyframes tc {
    from {
        top: 65%;
        opacity: 0%;
    }

    to {
        top: 63%;
        opacity: 100%;
    }
}

@keyframes ct {
    from {
        top: 63%;
        opacity: 100%;
    }

    to{
        top: 65%;
        opacity: 0%;
    }
}

/* LoopBtn */

.bfbtn{
    border-bottom: 2px solid rgb(255, 0, 106);
}

/* Recent Tracks Styling */

#rTracksSpe{
    height: 75% !important;
}

.tracks{
    min-width: 30%;
    height: 100%;
    list-style: none;
    margin-right: 1%;
}

.track{
    width: 100%;
    height: 25%;
    display: flex;
    padding: 1.5%;
    border-radius: 3px;
    /* border: 1px solid rgba(255, 255, 255, 0); */
}

.track:hover{
    /* border: 1px solid white; */
    background-color: rgba(128, 128, 128, 0.100);
}

.rtrackCover{
    display: flex;
    align-items: center;
    width: 13%;
}

.rtrackCover img:nth-child(1){
    width: 55px;
    height: 55px;
    border-radius: 2px;
}

.rtrackInfo{
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 3%;
}

.rtrackName{
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.rtrackArtists{
    font-size: 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.699);
    margin-top: 1%;
    cursor: pointer;
}

.rtrackName:hover{
    text-decoration: underline;
}

.rtrackArtists:hover{
    text-decoration: underline;
}

.rtrackActionOpts{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

.rtrackActionOpts img{
    width: 42px;
    height: 42px;
    padding: 12%;
    border-radius: 50%;
    cursor: pointer;
}

.rtrackActionOpts img:hover{
    background-color: rgba(255, 255, 255, 0.100);
}

.playRtrack{
    width: 25px;
    height: 25px;
    position: relative;
    left: -70%;
    visibility: hidden;
    cursor: pointer;
}

/* Window 1 */

.window1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.winLeftSec{
    width: 50%;
    margin-right: 10%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.winLeftSec img{
    cursor: pointer;
}

.winLeftSec img:hover{
    opacity: 50%;
    transition: 0.2s;
}

.winRightSec{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lyrics{
    overflow-y: scroll;
    width: 100%;
    text-align: start;
    height: 70%;
    font-size: 14px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    /* display: none; */
}

.lyrics b{
    font-weight: 400;
}

.lyrics::-webkit-scrollbar, .queue::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.lyrics::-webkit-scrollbar-thumb, .queue::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); 
    /* border-radius: 15px; */
    cursor: pointer;
    transition: 0.2s;
}
  

.lyrics::-webkit-scrollbar-thumb:hover, .queue::-webkit-scrollbar-thumb:hover {
    background: #ffffff69; 
}

.winRightSecbar{
    width: 100%;
    height: 6%;
    display: flex;
}

.winRightSecbar div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.winRightSecbar div:nth-child(1), .winRightSecbar div:nth-child(2){
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.winRightSecbar div:hover{
    background-color: #1a1a1a;
}

.queue{
    overflow-y: scroll;
    width: 100%;
    height: 70%;
}

.qTrack{
    width: 100%;
    height: 10%;
    display: flex;
    cursor: pointer;
    font-size: 14px;
}

.qTrack:hover{
    background-color: #1a1a1a;
}

.qTrackPos{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.qTrackCover{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qTrackCover img{
    width: 45px;
    height: 45px;
}

.qTrackName{
    width: 62%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 0% 2% 0% 2%;
}

.qTrackDuration{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

/* window2 */

@keyframes w2anim {
    from {
        opacity: 0%;
    }
    
    to{
        opacity: 100%;
    }
}

.window2{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    animation-name: w2anim;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
}

.w2LeftSec{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.fetchedPlaylist{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fpCover{
   width: 250px;
   height: 250px;
}

.fpCover img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 250px white);
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
}

.fpName{
    margin-top: 3%;
    font-size: 35px;
    cursor: default;
    z-index: 5;
    user-select: none;
    font-weight: 600;
}

.fpOwner{
    color: #b6b6b6;
    display: flex;
    width: 80%;
    height: auto;
    margin: 1% 0 1.5% 0;
    z-index: 5;
    justify-content: center;
}

.fpOwner img{
    width: 20px;
    height: 20px;
    margin-right: 1%;
    border-radius: 50%;
}

.fpOwner span{
    font-weight: 400;
    cursor: pointer;
}

.fpOwner span:hover{
    text-decoration: underline;
}

.fpInfo{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #b6b6b6;
    font-weight: 400;
    cursor: default;
}

.fpInfo span:nth-child(1){
    margin-bottom: 2%;
}

.fpActions{
    width: 35%;
    margin-top: 1%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    align-items: center;
}

.fpActions div:nth-child(2){
    background-color: white;
    border-radius: 50%;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    cursor: pointer;
}

.fpActions div:nth-child(1), .fpActions div:nth-child(3){
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.fpActions div:nth-child(1):hover, .fpActions div:nth-child(3):hover{
    background-color: rgba(255, 255, 255, 0.300);
}

.fpActions div:nth-child(1) img{
    width: 25px;
    height: 25px;
}

.fpActions div:nth-child(3) img{
    width: 20px;
    height: 20px;
}

.fpActions div:nth-child(2) img{
    width: 25px;
    height: 25px;
}


.w2RightSec{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow-y: scroll;
}

.w2RightSec::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  

.w2RightSec::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0); 
    /* border-radius: 15px; */
    cursor: pointer;
    transition: 0.2s;
}
  

.w2RightSec::-webkit-scrollbar-thumb:hover {
    background: #ffffff00; 
}


.fpTracks{
    width: 100%;
    height: 95%;
}

.fpTrack{
    width: 100%;
    height: 10%;
    display: flex;
    transition: 0.1s;
    align-items: center;
}

.fpTrack:hover{
    background-color: #ffffff2d;
}

.fpTDiscNumber{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    cursor: default;
}

.fpTCover{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fpTCover img{
    width: 50px;
    height: 50px;
}

.fpTna{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.fpTna span:nth-child(1){
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 1%;
    cursor: pointer;
}

.fpTna span:nth-child(1):hover, .fpTna span:nth-child(2):hover{
    text-decoration: underline;
}

.fpTna span:nth-child(2){
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
}

.fpTDuration{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    cursor: default;
}

.explicitSvg{
    width: 20px;
}

#whoop2{
    margin: 0 10% 0 10%;
}