@font-face {
    font-family: tanNimbus;
    src: url("/fonts/tanNimbus.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

body{
    background-color: black;
    color: white;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.leftSection{
    width: 13%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.459);
    padding: 1%;
}

.rightSection{
    background-color: rgb(44, 44, 44);
    width: 87.5%;
    height: 100%;
    background-image: url("/background/gradient.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topSandwich{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3%;
    align-items: center;
}

.brandName{
    font-size: 20px;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.brandName span{
    font-family: 'tanNimbus';
    margin-top: 5%;
    font-size: 18px;
}

#menuLogo{
    width: 20%;
    padding: 4%;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    /* border: 1px solid transparent; */
}

#menuLogo:hover{
    background-color: rgba(128, 128, 128, 0.24);
    /* border: 1px solid rgba(128, 128, 128, 0.295); */
}

#menuLogo:active{
    background-color: rgba(128, 128, 128, 0.397);
}

#xptfy{
    width: 65%;
}

/* Navigation Buttons */
.NavigationButtons{
    width: 100%;
    height: 16%;
    margin-top: 15%;
}

.NavigationButtons ul{
    list-style: none;
    width: 100%;
    height: 100%;
}

.NavigationButtons li{
    list-style: none;
    width: 100%;
    height: 33.3%;
}

.navBtnHm{
    background-color: rgba(255, 255, 255, 0.26);
}

.navBtnHm, .navBtnExpl, .navBtnLib{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 6%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.navBtnHm img, .navBtnExpl img, .navBtnLib img{
    width: 12%;
    margin-right: 10%;
}

.navBtnHm:hover, .navBtnExpl:hover, .navBtnLib:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

/* Separation Bar */
.separationBar{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10%;
}

/* New Playlist Button */

.newPlaylistBtn{
    width: 100%;
    height: 4.5%;
    margin-top: 10%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.newPlaylistBtn img{
    height: 55%;
    margin-right: 1%;
}

.newPlaylistBtn span{
    font-size: 15px;
}

.newPlaylistBtn:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Pinned playlist */

.hide{
    visibility: hidden !important;
}

.pinnedPlaylist{
    width: 100%;
    height: 60%;
    margin-top: 10%;
}

.pinnedPlaylist ul{
    list-style: none;
}

.playlist{
    width: 100%;
    height: 25%;
    display: flex;
    padding: 6%;
    border-radius: 8px;
    transition: 0.1s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.playlist:hover{
    background-color: rgba(255, 255, 255, 0.26);
}

.playlistInfo{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.playBtn{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.playBtn img{
    width: 35%;
}

.playlistName{
    font-size: 14px;
}

.playlistOwner{
    font-size: 12px;
    margin-top: 1%;
    color: rgb(168, 168, 168);
}