@font-face {
    font-family: tanNimbus;
    src: url("/fonts/tanNimbus.ttf");
}

@font-face {
    font-family: Freakshow;
    src: url("/fonts/Freakshow.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

body{
    background-color: black;
    color: white;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.leftSection{
    width: 13%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.459);
    padding: 1%;
}

.rightSection{
    background-color: rgb(44, 44, 44);
    width: 87.5%;
    height: 100%;
    background-image: url("/background/gradient.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 5% 1% 5%;
    overflow-y: scroll;
}


.rightSection::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
.rightSection::-webkit-scrollbar-track {
    border-radius: 10px;
}
   

.rightSection::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}
  

.rightSection::-webkit-scrollbar-thumb:hover {
    background: #ffffff69; 
}

.topSandwich{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3%;
    align-items: center;
}

.brandName{
    font-size: 20px;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.brandName span{
    font-family: 'tanNimbus';
    margin-top: 5%;
    font-size: 18px;
}

#menuLogo{
    width: 20%;
    padding: 4%;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    /* border: 1px solid transparent; */
}

#menuLogo:hover{
    background-color: rgba(128, 128, 128, 0.24);
    /* border: 1px solid rgba(128, 128, 128, 0.295); */
}

#menuLogo:active{
    background-color: rgba(128, 128, 128, 0.397);
}

#xptfy{
    width: 65%;
}

/* Navigation Buttons */
.NavigationButtons{
    width: 100%;
    height: 16%;
    margin-top: 15%;
}

.NavigationButtons ul{
    list-style: none;
    width: 100%;
    height: 100%;
}

.NavigationButtons li{
    list-style: none;
    width: 100%;
    height: 33.3%;
}

.navBtnHm{
    background-color: rgba(255, 255, 255, 0.26);
}

.navBtnHm, .navBtnExpl, .navBtnLib{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 6%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.navBtnHm img, .navBtnExpl img, .navBtnLib img{
    width: 12%;
    margin-right: 10%;
}

.navBtnHm:hover, .navBtnExpl:hover, .navBtnLib:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

/* Separation Bar */
.separationBar{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10%;
}

/* New Playlist Button */

.newPlaylistBtn{
    width: 100%;
    height: 4.5%;
    margin-top: 10%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.newPlaylistBtn img{
    height: 55%;
    margin-right: 1%;
}

.newPlaylistBtn span{
    font-size: 15px;
}

.newPlaylistBtn:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Pinned playlist */

.hide{
    visibility: hidden !important;
}

.pinnedPlaylist{
    width: 100%;
    height: 60%;
    margin-top: 10%;
}

.pinnedPlaylist ul{
    list-style: none;
}

.playlist{
    width: 100%;
    height: 25%;
    display: flex;
    padding: 6%;
    border-radius: 8px;
    transition: 0.1s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.playlist:hover{
    background-color: rgba(255, 255, 255, 0.26);
}

.playlistInfo{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.playBtn{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.playBtn img{
    width: 35%;
}

.playlistName{
    font-size: 14px;
}

.playlistOwner{
    font-size: 12px;
    margin-top: 1%;
    color: rgb(168, 168, 168);
}

/* topBar */

.topBar{
    width: 100%;
    height: 4.5%;
    display: flex;
    flex-direction: row;
}

.searchBar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.bar img{
    width: 4%;
    margin: 0 2% 0 2%;
}

.bar input{
    width: 90%;
    height: 65%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 2%;
    outline: none;
    font-weight: 400;
}

.bar{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff1c;
    border: 1px solid rgba(255, 255, 255, 0.548);
    padding: 0% 1% 0% 1%;
    border-radius: 8px;
}

.user{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.user img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* tomBtns */
.tomBtns{
    width: 100%;
    height: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0 5% 0;
}

.tomBtns ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tomBtns ul li{
    list-style: none;
    width: auto;
    height: 100%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-right: 0.65%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.tomBtns ul li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


/* Greet */

.greetMsg{
    height: 20%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-bottom: 2%;
}

.greet{
    font-size: 25px;
    font-weight: 400;
}

.greetUser{
    font-size: 60px;
    font-weight: 600;
    font-family: 'tanNimbus' !important;
    margin-top: 1%;
}

/* Feed */

.savedPlaylists{
    width: 100%;
    height: 40%;
    margin-bottom: 5%;
}

.savedPlaylists ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    overflow-x: scroll;
}


.savedPlaylists ul::-webkit-scrollbar {
    width: 1px;
    height: 8px;
  }
  
.savedPlaylists ul::-webkit-scrollbar-track {
    border-radius: 10px;
}
   

.savedPlaylists ul::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}
  

.savedPlaylists ul::-webkit-scrollbar-thumb:hover {
    background: #ffffff69; 
}

.heading{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1%;
}

.heading span{
    cursor: pointer;
}

.heading span:hover{
    text-decoration: underline;
}

.Playlist{
    list-style-type: none;
    height: 100%;
    min-width: 15%;
    margin-right: 1%;
}

.Playlist .playlistCover{
    width: 100%;
    height: 75%;
    cursor: pointer;
}

.Playlist .playlistCover img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    height: 100%;
    transition: 0.1s;
}

/* .playlistCover img:hover{
    opacity: 50%;
} */

.opac65{
    opacity: 65%;
}

.playlistCover img:nth-child(2){
    width: 21%;
    background-color: #000000a6;
    height: 21%;
    position: relative;
    padding: 5.5%;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    top: -28%;
    left: 72%;
    opacity: 0%;
    transition: 0.3s;
}

.playlistPlayBtn:hover{
    opacity: 100%;
    transform: scale(1.1);
    background-color: black !important;
}

.playBtn{
    top: -31% !important;
    opacity: 100% !important;
}

.PlaylistInfo{
    width: 100%;
    height: 15%;
    margin-top: 4%;
}

.PlaylistName{
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.PlaylistName span:hover{
    text-decoration: underline;
}

.PlaylistExtInf{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 1%;
}

.PlaylistType, .PlaylistOwner, .whoop{
    color: rgba(255, 255, 255, 0.562);
    font-size: 13px;
    font-weight: 300;
}

.PlaylistOwner{
    cursor: pointer;
}

.PlaylistOwner:hover{
    text-decoration: underline;
}

.PlaylistType, .whoop{
    margin-right: 2%;
}