<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faded - Alan Walker</title>
    <link rel="icon" href="/icons/x32.png">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="sidebar">
              <div class="sidebaritems">
                <div class="sidebarLogo">
                    <img src="/icons/homeLogo.png" alt="">
                    <h1>Xpotify</h1>          
                </div>
                    <div class="menu">
                            <div class="title">
                                <span>Menu</span>
                                <img src="/icons/sidebar.png" alt="">
                            </div>
                            <div class="listedItems">
                                <ul class="items">
                                    <li>
                                        <img class="optIcons" src="/icons/home.png" alt="">
                                        <span>Home</span>
                                    </li>
                                    <li>
                                        <img class="optIcons" src="/icons/refresh.png" alt="">
                                        <span>Refresh</span>
                                    </li>
                                    <li>
                                        <img class="optIcons" src="/icons/library.png" alt="">
                                        <span>Library</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="title2">
                                <span>Playlists</span>
                                <img src="/icons/add.png" alt="">
                            </div>
                            <div class="listedItems2">
                                <ul class="items">
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa38c1d9d1eae3a41255542bef0" alt="">
                                        <span>Lewis</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa3477916ab859e71ae18d47c23" alt="">
                                        <span>Alan Walker</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa32feb1f8844fdede19e05acc7" alt="">
                                        <span>>_<</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa35f7f8c786f76061b7c8b0b92" alt="">
                                        <span>Russians</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa3d95e3248f6643e27f4ea6f16" alt="">
                                        <span>:D</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa33f4f6ea452cb4e5c420aa213" alt="">
                                        <span>Bruv</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="endItems">
                                    <div class="Items">
                                        <img src="/icons/settings.png" alt="">
                                        <span>Settings</span>
                                    </div>
                                    <div class="Items">
                                        <img src="/icons/logoutRed.png" alt="">
                                        <span class="logout">Log Out</span>
                                    </div>
                            </div>
                    </div>
              </div>
        </div>
        <div class="content">
            <div class="navbar">
                <div class="searchInput">
                    <input type="text" class="topInp" placeholder="Search">
                    <button class="searchBtn">
                        <img src="/icons/search.png">
                    </button>
                </div>
            </div>
            <!-- <div class="genreSlider">
                <button class="genreBtn">Hip Hop</button>
                <button class="genreBtn">Relax</button>
                <button class="genreBtn">The Weeknd</button>
                <button class="genreBtn">Alan Walker</button>
                <button class="genreBtn">Taylor Swift</button>
                <button class="genreBtn">Rock</button>
                <button class="genreBtn">Metal</button>
                <button class="genreBtn">Hard Metal</button>
                <button class="genreBtn">EDM</button>
                <button class="genreBtn">Gaming</button>
                <button class="genreBtn">Party</button>
                <button class="genreBtn">Chill</button>
                <button class="genreBtn">Student</button>
                <button class="genreBtn">Love</button>
            </div> -->
            <div class="tabs">
                <div class="tabsRow1">
                    <div class="tab">
                        <div class="tabTitle">
                            <h1>Dean Lewis</h1>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="tabContent">
                                <div class="tabtitle">
                                    <h1>AC/DC</h1>
                                </div>
                                <div class="tabDesc">
                                    AC/DC are an Australian rock band formed in 1973.
                                </div>
                                <div class="tabBtn">
                                    <button>Listen Now!</button>
                                </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="tabTitle">
                            <h1>Dua Lipa</h1>
                        </div>
                    </div>
                </div>
                <div class="tabsRow2">
                    <div class="tab">
                        <div class="tabTitle">
                            <h1>Lewis Capaldi</h1>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="tabContent">
                                <div class="tabtitle">
                                    <h1>Alan Walker</h1>
                                </div>
                                <div class="tabDesc">
                                    Alan Olav Walker is a Norwegian DJ and music producer.
                                </div>
                                <div class="tabBtn">
                                    <button>Listen Now!</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="tabsRow3">
                    <div class="tab">
                        <div class="tabContent">
                            <div class="tabtitle">
                                <h1>Ava Max</h1>
                            </div>
                            <div class="tabDesc">
                                Ava Max is an American singer and songwriter. 
                            </div>
                            <div class="tabBtn">
                                <button>Listen Now!</button>
                            </div>
                    </div>
                    </div>
                    <div class="tab">
                        <div class="tabTitle">
                            <h1>Ariana Grande</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="player">
                <audio src="/songs/test.mp3" preload="metadata"></audio>
                <div class="playerControls">
                    <div class="controls">
                        <div class="p1">
                            <img src="/icons/list.png" alt="" class="icon">
                            <img src="/icons/fullscreen.png" alt="" class="icon">
                            <img src="/icons/mic.png" alt="" class="icon">
                        </div>
                        <div class="p2">
                            <div class="audioControls">
                                <img src="/icons/shuffle.png" alt="" class="icon">
                                <img src="/icons/next.png" id="audPrevBtn" alt="" class="icon">
                                <img src="/icons/play.png" id="playPause" alt="" class="icon">
                                <img src="/icons/next.png" id="audNextBtn" alt="" class="icon">
                                <img src="/icons/repeat.png" alt="" class="icon">
                            </div>
                            <div class="bars">
                                <div id="audCurrentTime">0:00</div>
                                <input type="range" name="audioSeeker" id="audSeeker" max="" value="0">
                                <div id="audDuration">03:10</div>
                            </div>
                        </div>
                        <div class="p3">
                            <img src="/icons/vol-low.png" alt="" class="icon">
                            <input type="range" name="volBar" id="volSeeker" max="100" value="25">
                            <img src="/icons/vol-high.png" alt="" class="icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightBar">
            <div class="userInfo">
                <div class="img">
                    <img src="https://th.bing.com/th/id/OIP.vsT4aBWlYrE3BoeiYFqg1wAAAA?w=358&h=358&rs=1&pid=ImgDetMain" alt="">
                </div>
                <div class="UserDesc">
                    <div class="userName">
                        <h1>Max Verstappen</h1>
                        <p>
                            Premium Subscriber •   
                            <img class="crown" src="/icons/crown.png" alt="">
                        </p>
                    </div>
                    <div class="bellIcon">
                        <img src="/icons/bell.png" alt="">
                    </div>
                </div>
            </div>
            <div class="queues">
                <div class="QTitle">
                    <h4>Recently Played</h3>
                    <h5>See All</h5>
                </div>
                <div class="Qsongs">
                    <div class="QSongs">
                        <div class="SongImg">
                            <img src="https://i.scdn.co/image/ab67616d00001e0203c58779dfc6029341086829" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Shakira!</h4>
                                <h5>1nonly</h5>
                            </div>
                            <div class="SongTime">
                                <h5>12min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img src="https://i.scdn.co/image/ab67616d00001e02b56115c0e231fbf69d3205c6" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Shoot to Thrill!</h4>
                                <h5>AC/DC</h5>
                            </div>
                            <div class="SongTime">
                                <h5>15min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img src="https://i.scdn.co/image/ab67616d00001e021d56e46f3ebfe89377b035a6" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>One Piece - Overtaken</h4>
                                <h5>Geek Music</h5>
                            </div>
                            <div class="SongTime">
                                <h5>30min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img src="https://i.scdn.co/image/ab67616d00001e02f271c489fc5dfdb9cadb1f76" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>One Piece - Strongest!</h4>
                                <h5>Geek Music</h5>
                            </div>
                            <div class="SongTime">
                                <h5>45min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img src="https://i.scdn.co/image/ab67616d00001e02dfb7fffec83a48f0548116f1" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Shot a friend</h4>
                                <h5>Holy Moly</h5>
                            </div>
                            <div class="SongTime">
                                <h5>50min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img src="https://i.scdn.co/image/ab67616d00001e025644e9037a436715e3a1b9aa" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Close your eyes</h4>
                                <h5>Tungevaag</h5>
                            </div>
                            <div class="SongTime">
                                <h5>1hr ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img src="https://i.scdn.co/image/ab67616d00001e02df239e2378931afd5f2e8ef2" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Aurora</h4>
                                <h5>K-391</h5>
                            </div>
                            <div class="SongTime">
                                <h5>1hr ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img src="https://i.scdn.co/image/ab67616d00001e02a6ac979c144339c55131b472" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Unity</h4>
                                <h5>The Walkers</h5>
                            </div>
                            <div class="SongTime">
                                <h5>2hr ago</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Song">
                <div class="songImg">
                    <img src="https://i.scdn.co/image/ab67616d00001e02a108e07c661f9fc54de9c43a" alt="">
                </div>
                <div class="songinfo">
                    <div class="info">
                        <h3>Faded</h3>
                        <h4>Alan Walker</h4>
                    </div>
                    <div class="likeIcon">
                        <img src="/icons/heart.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/script/home.js"></script>
</html>