<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="siteTitle">Faded • Alan Walker</title>
    <link rel="icon" href="/icons/X/Xnew-b-l-32.png">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mynerve&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="loader" id="webLoader">
        <img src="/icons/Xnew-loading-anim.gif" alt="">
    </div>
    <div class="main">
        <div class="sidebar">
              <div class="sidebaritems">
                <div class="sidebarLogo notSelectable">
                    <!-- <img src="/icons/homeLogo.png" alt=""> -->
                    <h1 class="X">Xpotify</h1>          
                </div>
                    <div class="menu notSelectable">
                            <div class="title">
                                <span>Menu</span>
                                <img draggable="false" src="/icons/sidebar.png" alt="">
                            </div>
                            <div class="listedItems">
                                <ul class="items">
                                    <li onclick="returnToHome()">
                                        <img draggable="false" class="optIcons" src="/icons/home.png" alt="">
                                        <span>Home</span>
                                    </li>
                                    <li>
                                        <img draggable="false" class="optIcons" src="/icons/refresh.png" alt="">
                                        <span>Refresh</span>
                                    </li>
                                    <li>
                                        <img draggable="false" class="optIcons" src="/icons/library.png" alt="">
                                        <span>Library</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="title2">
                                <span>Playlists</span>
                                <img draggable="false" src="/icons/add.png" alt="">
                            </div>
                            <div class="listedItems2">
                                <ul class="items">
                                    <li id="lewis" onclick="showPlaylist(this.dataset.playlistid)" data-playlistId="5o6QR9AF8o9l4GwAbGbIUk">
                                        <img draggable="false" class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa38c1d9d1eae3a41255542bef0" alt="">
                                        <span>Lewis</span>
                                    </li>
                                    <li onclick="showPlaylist(this.dataset.playlistid)" data-playlistId="6Cyj6HQSsQgBwaM3yAJD9S">
                                        <img draggable="false" class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa3477916ab859e71ae18d47c23" alt="">
                                        <span>Alan Walker</span>
                                    </li>
                                    <li onclick="showPlaylist(this.dataset.playlistid)" data-playlistId="5Si5JogTtYD0KvTMCIWYVU">
                                        <img draggable="false" class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa32feb1f8844fdede19e05acc7" alt="">
                                        <span>>_<</span>
                                    </li>
                                    <li onclick="showPlaylist(this.dataset.playlistid)" data-playlistId="1JXmQxcfIdcKnU7gNw9tbP">
                                        <img draggable="false" class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa35f7f8c786f76061b7c8b0b92" alt="">
                                        <span>Russians :)</span>
                                    </li>
                                    <li onclick="showPlaylist(this.dataset.playlistid)" data-playlistId="5oBIZyilWg2A5MwWE15uoj">
                                        <img draggable="false" class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa3d95e3248f6643e27f4ea6f16" alt="">
                                        <span>:D</span>
                                    </li>
                                    <li onclick="showPlaylist(this.dataset.playlistid)" data-playlistId="4srWEnnaGMzUv1UGn7xD5k">
                                        <img draggable="false" class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa33f4f6ea452cb4e5c420aa213" alt="">
                                        <span>Bruv</span>
                                    </li>
                                    <li onclick="showPlaylist(this.dataset.playlistid)" data-playlistId="5eTvWH3VEIhHXLhPCrEHqm">
                                        <img draggable="false" class="playlistImgs" src="https://i.scdn.co/image/ab67616d00001e02aaeb5c9fb6131977995b7f0e" alt="">
                                        <span>Minecraft</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="endItems">
                                    <div class="Items">
                                        <img draggable="false" src="/icons/settings.png" alt="">
                                        <span>Settings</span>
                                    </div>
                                    <div class="Items">
                                        <img draggable="false" src="/icons/logoutRed.png" alt="">
                                        <span class="logout">Log Out</span>
                                    </div>
                            </div>
                    </div>
              </div>
        </div>
        <div class="content notSelectable">
            <div class="navbar">
                <div class="searchInput">
                    <input type="text" class="topInp" placeholder="Search">
                    <button class="searchBtn">
                        <img draggable="false" src="/icons/search.png">
                    </button>
                </div>
            </div>
            <!-- <div class="genreSlider">
                <button class="genreBtn">Hip Hop</button>
                <button class="genreBtn">Relax</button>
                <button class="genreBtn">The Weeknd</button>
                <button class="genreBtn">Alan Walker</button>
                <button class="genreBtn">Taylor Swift</button>
                <button class="genreBtn">Rock</button>
                <button class="genreBtn">Metal</button>
                <button class="genreBtn">Hard Metal</button>
                <button class="genreBtn">EDM</button>
                <button class="genreBtn">Gaming</button>
                <button class="genreBtn">Party</button>
                <button class="genreBtn">Chill</button>
                <button class="genreBtn">Student</button>
                <button class="genreBtn">Love</button>
            </div> -->
            <div class="preloader hide" id="preloader">
                <img src="/icons/Xnew-loading-anim.gif" alt="">
            </div>
            <div class="tabs hide" id="tabs">
                <div class="tabsRow1">
                    <div class="tab">
                        <div class="tabTitle">
                            <h1>Dean Lewis</h1>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="tabContent">
                                <div class="tabtitle">
                                    <h1>AC/DC</h1>
                                </div>
                                <div class="tabDesc">
                                    AC/DC are an Australian rock band formed in 1973.
                                </div>
                                <div class="tabBtn">
                                    <button>Listen Now!</button>
                                </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="tabTitle">
                            <h1>Dua Lipa</h1>
                        </div>
                    </div>
                </div>
                <div class="tabsRow2">
                    <div class="tab">
                        <div class="tabTitle">
                            <h1>Lewis Capaldi</h1>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="tabContent">
                                <div class="tabtitle">
                                    <h1>Alan Walker</h1>
                                </div>
                                <div class="tabDesc">
                                    Alan Olav Walker is a Norwegian DJ and music producer.
                                </div>
                                <div class="tabBtn">
                                    <button>Listen Now!</button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="tabsRow3">
                    <div class="tab">
                        <div class="tabContent">
                            <div class="tabtitle">
                                <h1>Ava Max</h1>
                            </div>
                            <div class="tabDesc">
                                Ava Max is an American singer and songwriter. 
                            </div>
                            <div class="tabBtn">
                                <button>Listen Now!</button>
                            </div>
                    </div>
                    </div>
                    <div class="tab">
                        <div class="tabTitle">
                            <h1>Ariana Grande</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="artist hide" id="artistTabs">
                <div class="artistTab">
                    <div class="artistTile">
                        <div class="artistInfo">
                            <div class="artistVerification" id="artistVer">
                                <img src="/icons/verified.png" alt=""> 
                                <h4>Verified Artist</h4>
                            </div>
                            <div class="artistName">
                                <h1 id="artistName"></h1>
                            </div>
                            <div class="artistListeners">
                                <h3 id="artistFollowers"></h3>
                            </div>
                        </div>
                        <!-- <div class="artistImage">
                            <img draggable="false" src="/background/alanwalker.png" alt="">
                        </div> -->
                    </div>
                    <div class="artistMusic">
                        <div class="Title">
                            <h1>Popular</h1>
                            <h3>See All</h3>
                        </div>
                        <div class="columns">
                            <div>#</div>
                            <div>img</div>
                            <div>Title</div>
                            <div><img draggable="false" src="/icons/time-grey-m.png" alt=""></div>
                            <div>Album</div>
                        </div>
                        <div id="songsCon">
                        </div>
                        <div class="artistAlbum">
                            <h1>Artist's Album</h1>
                            <h3>See All</h3>
                        </div>
                        <div class="artistsAlbum">
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="albumContainerImage">
                                        <img src="https://i.scdn.co/image/ab67616d00001e029dd007b46e281f72543056a2" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>Unsure(Remixes)</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>Latest Release • Single</span>
                                    </div>
                                </div>
                            </div>
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="albumContainerImage">
                                        <img src="https://i.scdn.co/image/ab67616d00001e02a108e07c661f9fc54de9c43a" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>Different World</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>2018 • Album</span>
                                    </div>
                                </div>
                            </div>
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="albumContainerImage">
                                        <img src="https://i.scdn.co/image/ab67616d00001e02df9a35baaa98675256b35177" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>World of Walker</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>2021 • Album</span>
                                    </div>
                                </div>
                            </div>
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="albumContainerImage">
                                        <img src="https://i.scdn.co/image/ab67616d00001e021f7d9ec71420b5360a0e347d" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>WalkerWorld</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>2023 • Album</span>
                                    </div>
                                </div>
                            </div>
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="albumContainerImage">
                                        <img src="https://i.scdn.co/image/ab67616d00001e029bcee2cb961a04d2e5a29f5c" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>Fire</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>2023 • Single</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="artistAlbum">
                            <h1>Related Artists</h1>
                            <h3>See All</h3>
                        </div>
                        <div class="artistsAlbum">
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="artistContainerImage">
                                        <img src="https://i.scdn.co/image/ab676161000051740d7739a2b10fd723f5ca095e" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>Marshmello</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>Artist</span>
                                    </div>
                                </div>
                            </div>
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="artistContainerImage">
                                        <img src="https://i.scdn.co/image/ab6761610000517445c3688488f871aace7a4a57" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>Martin Garrix</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>Artist</span>
                                    </div>
                                </div>
                            </div>
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="artistContainerImage">
                                        <img src="https://i.scdn.co/image/ab67616100005174ca97cf089968b569e29d795c" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>DJ Snake</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>Artist</span>
                                    </div>
                                </div>
                            </div>
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="artistContainerImage">
                                        <img src="https://i.scdn.co/image/ab676161000051749c0f09a8247c54ecba74819d" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>The Chainsmokers</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>Artist</span>
                                    </div>
                                </div>
                            </div>
                            <div class="artistAlbumIn userPlaylistCover">
                                <div class="albumContainer">
                                    <div class="artistContainerImage">
                                        <img src="https://i.scdn.co/image/ab67616100005174ae07171f989fb39736674113" alt="">
                                        <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                    </div>
                                    <div class="albumContainerName">
                                        <span>Avicii</span>
                                    </div>
                                    <div class="albumContainerOwner">
                                        <span>Artist</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="artistFooter">
                        <span>@AlanWalker</span>
                        <br>
                        <span>June, 2024</span>
                    </div>
                </div>
                
            </div>
            <div class="songsTabs hide" id="songsTabs">
                <div class="songsTile">
                    <div class="songInfo">
                        <div class="songInfoSong">
                            <h4 id="songType">Single</h4>
                        </div>
                        <div class="artistName">
                            <h1 id="songName">Faded</h1>
                        </div>
                        <div class="songListeners">
                            <h3 onclick="showArtistTab()" id="songArtistName">Alan Walker</h3>
                        </div>
                    </div>
                    <div class="songsImage">
                        <img id="songAlbumImage" draggable="false" src="https://i.scdn.co/image/ab67616d00001e02a108e07c661f9fc54de9c43a" alt="">
                    </div>
                </div>
                <div class="songMusic" id="songMusic">
                    <div class="columns">
                        <div>#</div>
                        <div>img</div>
                        <div>Title</div>
                        <div><img draggable="false" src="/icons/time-grey-m.png" alt=""></div>
                        <div>Album</div>
                    </div>
                </div>
                <div class="songFooter">
                    December 14, 2018
                    <br>
                    &copy;AlanWalker
                </div>
            </div>
            <div class="userTab hide" id="userTabs">
                <div class="songsTile">
                    <div class="userTileInfo">
                        <div class="songInfoSong">
                            <h4 id="userType">User</h4>
                        </div>
                        <div class="artistName">
                            <h1 id="userName">CyberRodeo</h1>
                        </div>
                        <div class="songListeners">
                            <h3 onclick="showArtistTab()" id="userNoPlaylist">12 Playlists</h3>
                        </div>
                    </div>
                    <div class="userImage">
                        <img id="userImage" draggable="false" src="https://i.scdn.co/image/ab6775700000ee85d79258e5f1e3b15828d9a65d" alt="">
                    </div>
                </div>
                <div class="userPlaylists">
                    <div class="playlistHeader">
                        <span>Public Playlist</span>
                        <span>See all</span>
                    </div>
                    <div class="usersPlaylists">
                        <div class="playlist userPlaylistCover">
                            <div class="playlistContainer">
                                <div class="playlistContainerImage">
                                    <img src="https://i2o.scdn.co/image/ab67706c0000cfa37f6c3de4beb7d69044f47b78" alt="">
                                    <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                </div>
                                <div class="playlistContainerName">
                                    <span>Country Music</span>
                                </div>
                                <div class="playlistContainerOwner">
                                    <span>By CyberRodeo</span>
                                </div>
                            </div>
                        </div>
                        <div class="playlist userPlaylistCover">
                            <div class="playlistContainer">
                                <div class="playlistContainerImage">
                                    <img src="https://i2o.scdn.co/image/ab67706c0000cfa3477916ab859e71ae18d47c23" alt="">
                                    <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                </div>
                                <div class="playlistContainerName">
                                    <span>Alan Walker</span>
                                </div>
                                <div class="playlistContainerOwner">
                                    <span>By CyberRodeo</span>
                                </div>
                            </div>
                        </div>
                        <div class="playlist userPlaylistCover">
                            <div class="playlistContainer">
                                <div class="playlistContainerImage">
                                    <img src="https://i2o.scdn.co/image/ab67706c0000cfa35f7f8c786f76061b7c8b0b92" alt="">
                                    <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                </div>
                                <div class="playlistContainerName">
                                    <span>Russians :)</span>
                                </div>
                                <div class="playlistContainerOwner">
                                    <span>By CyberRodeo</span>
                                </div>
                            </div>
                        </div>
                        <div class="playlist userPlaylistCover">
                            <div class="playlistContainer">
                                <div class="playlistContainerImage">
                                    <img src="https://i.scdn.co/image/ab67616d00001e02aaeb5c9fb6131977995b7f0e" alt="">
                                    <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                </div>
                                <div class="playlistContainerName">
                                    <span>Minecraft</span>
                                </div>
                                <div class="playlistContainerOwner">
                                    <span>By CyberRodeo</span>
                                </div>
                            </div>
                        </div>
                        <div class="playlist userPlaylistCover">
                            <div class="playlistContainer">
                                <div class="playlistContainerImage">
                                    <img src="https://i2o.scdn.co/image/ab67706c0000cfa33f4f6ea452cb4e5c420aa213" alt="">
                                    <img class="playlistPlayButton" src="/icons/black-play.png" alt="">
                                </div>
                                <div class="playlistContainerName">
                                    <span>Bruv</span>
                                </div>
                                <div class="playlistContainerOwner">
                                    <span>By CyberRodeo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="userFooter">
                        <span>@CyberRodeo</span>
                        <br>
                        <span>June, 2024</span>
                    </div>
                </div>
            </div>
            <div class="albumTabs hide" id="albumTabs">
                <div class="albumTab">
                    <div class="albumTile">
                        <div class="albumInfo">
                            <div class="songInfoSong">
                                <h4 id="albumType">Single</h4>
                            </div>
                            <div class="artistName">
                                <h1 id="albumName">Different World</h1>
                            </div>
                            <div class="songListeners">
                                <h3 onclick="showArtistTab()" id="albumArtist">Alan Walker</h3>
                            </div>
                        </div>
                        <div class="albumsImage">
                            <img id="albumImage" draggable="false" src="https://i.scdn.co/image/ab67616d00001e02a108e07c661f9fc54de9c43a" alt="">
                        </div>
                    </div>
                    <div id="albumMusic" class="albumMusic">
                        <div class="columns">
                            <div>#</div>
                            <div>img</div>
                            <div>Title</div>
                            <div><img draggable="false" src="/icons/time-grey-m.png" alt=""></div>
                        </div>
                        <!-- <div class="songs">
                            <span class="songNum">1</span>
                            <span class="songImage"><img src="https://i.scdn.co/image/ab67616d00001e02a108e07c661f9fc54de9c43a" alt=""></span>
                            <span class="songTitle">Faded</span>
                            <span class="songDuration">3:32</span>
                            <span class="songAlbum" onclick="showAlbumTab()">Different World</span>
                        </div> -->
                    </div>
                    <div class="albumFooter">
                        November 12, 2018
                        <br>
                        @AlanWalker
                    </div>
                </div>
            </div>
            <div class="lyricsTab hide" id="lyricsTab">
                <div class="lyrics">
                    <div class="lyricsDiv">
                        [Verse 1]<br><a href="/9234498/Alan-walker-faded/You-were-the-shadow-to-my-light-did-you-feel-us" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">You were the shadow to my light<br>Did you 
                            feel us?</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8550469/Alan-walker-faded/Another-star-you-fade-away" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 huviBw">Another star, you fade away</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8803010/Alan-walker-faded/Afraid-our-aim-is-out-of-sight-wanna-see-us-alight" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Afraid our aim is out of sight<br>Wanna see us alight</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><br>[Pre-Chorus]<br><a href="/8774219/Alan-walker-faded/Where-are-you-now-where-are-you-now-where-are-you-now-was-it-all-in-my-fantasy-where-are-you-now-were-you-only-imaginary" 
                            class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Where are you now?<br>Where are you now?<br>Where are you now?<br>Was it all in my fantasy?<br>Where are you now?<br>Were you only imaginary?</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><br>[Chorus]<br><a href="/8803037/Alan-walker-faded/Where-are-you-now-atlantis-under-the-sea-under-the-sea-where-are-you-now-another-dream" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Where are you now?<br>Atlantis, under the sea, under the sea<br>Where are you now? 
                            Another dream</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8774227/Alan-walker-faded/The-monsters-running-wild-inside-of-me" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">The monster&apos;s running wild inside of me</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8550463/Alan-walker-faded/Im-faded-im-faded-so-lost-im-faded-im-faded-so-lost-im-faded" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 huviBw">I&apos;m faded, I&apos;m faded<br>So lost, I&apos;m faded, I&apos;m faded<br>So lost, I&apos;m faded</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><br>[Verse 2]<br><a href="/8894966/Alan-walker-faded/These-shallow-waters-never-met-wa 
                            t-i-needed-im-letting-go-a-deeper-dive-eternal-silence-of-the-sea-im-breathing-alive" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">These shallow waters never met what I needed<br>I&apos;m letting go, a deeper dive<br>Eternal silence of the sea<br>I&apos;m breathing, alive</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br>
                            [Pre-Chorus]<br><a href="/9066587/Alan-walker-faded/Where-are-you-now-where-are-you-now" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Where are you now?<br>Where are you now?</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8920001/Alan-walker-faded/Under-the-bright-but-faded-lights" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Under the bright but faded lights</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/9066597/Alan-walker-faded/You-set-my-heart-on-fire" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">You set my heart 
                            on fire</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/9066587/Alan-walker-faded/Where-are-you-now-where-are-you-now" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 
                            cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Where are you now?<br>Where are you now?</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><br>[Chorus]<br><a href="/8803037/Alan-walker-faded/Where-are-you-now-atlantis-under-the-sea-under-the-sea-where-are-you-now-another-dream" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Where are you now?<br>Atlantis, under the sea, under the sea<br>Where are you now? Another dream</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8774227/Alan-walker-faded/The-monsters-running-wild-inside-of-me" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">The monster&apos;s running wild inside of me</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8550463/Alan-walker-faded/Im-faded-im-faded-so-lost-im-faded-im-faded-so-lost-im-faded" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 huviBw">I&apos;m faded, I&apos;m faded<br>So lost, 
                            I&apos;m faded, I&apos;m faded<br>So lost, I&apos;m faded</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span>
                            [Pre-Chorus]<br><a href="/9066587/Alan-walker-faded/Where-are-you-now-where-are-you-now" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Where are you now?<br>Where are you now?</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8920001/Alan-walker-faded/Under-the-bright-but-faded-lights" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Under the bright but faded lights</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/9066597/Alan-walker-faded/You-set-my-heart-on-fire" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">You set my heart 
                            on fire</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/9066587/Alan-walker-faded/Where-are-you-now-where-are-you-now" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 
                            cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Where are you now?<br>Where are you now?</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><br>[Chorus]<br><a href="/8803037/Alan-walker-faded/Where-are-you-now-atlantis-under-the-sea-under-the-sea-where-are-you-now-another-dream" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">Where are you now?<br>Atlantis, under the sea, under the sea<br>Where are you now? Another dream</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8774227/Alan-walker-faded/The-monsters-running-wild-inside-of-me" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 jAzSMw">The monster&apos;s running wild inside of me</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span><br><a href="/8550463/Alan-walker-faded/Im-faded-im-faded-so-lost-im-faded-im-faded-so-lost-im-faded" class="ReferentFragmentdesktop__ClickTarget-sc-110r0d9-0 cesxpW"><span class="ReferentFragmentdesktop__Highlight-sc-110r0d9-1 huviBw">I&apos;m faded, I&apos;m faded<br>So lost, 
                            I&apos;m faded, I&apos;m faded<br>So lost, I&apos;m faded</span></a><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span><span tabindex="0" style="position:absolute;opacity:0;width:0;height:0;pointer-events:none;z-index:-1"></span></span>
                    </div>
                </div>
            </div>
            <div class="playlistTabs hide" id="playlistTabs">
                <div class="playListTab">
                    <div class="playlistTile">
                        <div class="playlistInfo">
                            <div class="songInfoSong">
                                <h4>Playlist</h4>
                            </div>
                            <div class="artistName">
                                <h1 id="playlistName">Russians</h1>
                            </div>
                            <div class="songListeners">
                                <h3 id="playlistOwner">CyberRodeo</h3>
                                <h3 class="dot">•</h3>
                                <h3 id="playlistNoSongs"></h3>
                            </div>
                        </div>
                        <div class="playlistImage">
                            <img id="playlistImage" draggable="false" id="preloaderMetricIMG" src="https://i2o.scdn.co/image/ab67706c0000cfa35f7f8c786f76061b7c8b0b92" alt="">
                        </div>
                    </div>
                    <div id="playlistMusic" class="playlistMusic">
                        <div class="columns">
                            <div>#</div>
                            <div>img</div>
                            <div>Title</div>
                            <div><img draggable="false" src="/icons/time-grey-m.png" alt=""></div>
                            <div>Album</div>
                        </div>
                        <!-- <div class="songs">
                            <span class="songNum">33</span>
                            <span class="songImage"><img src="https://i.scdn.co/image/ab67616d000048511fa8a5726acefec54f7ff552" alt=""></span>
                            <span class="songTitle">Can't Buy Me Loving / La La La</span>
                            <span class="songDuration">3:25</span>
                            <span class="songAlbum" onclick="showAlbumTab()">Can't Buy Me Loving / La La La</span>
                        </div> -->
                    </div>
                    <div class="playlistFooter">
                        @CyberRodeo
                        <br>
                        June, 2024
                    </div>
                </div>
            </div>
            <div class="player">
                <audio id="player" src="/songs/test.mp3" data-songName="Faded" data-songArtist="Alan Walker" data-artistId="7vk5e3vY1uw9plTHJAMwjN" data-songId="698ItKASDavgwZ3WjaWjtz" data-albumId="3nzuGtN3nXARvvecier4K0" preload="metadata"></audio>
                <div class="playerControls">
                    <div class="controls">
                        <div class="p1">
                            <img draggable="false" src="/icons/list.png" alt="" class="icon">
                            <img draggable="false" onclick="toggleFullscreen()" src="/icons/fullscreen.png" alt="" class="icon">
                            <img draggable="false" src="/icons/mic.png" alt="" class="icon" onclick="showLyricsTab()">
                        </div>
                        <div class="p2">
                            <div class="audioControls">
                                <img draggable="false" src="/icons/shuffle.png" alt="" class="icon">
                                <img draggable="false" src="/icons/next.png" id="audPrevBtn" alt="" class="icon">
                                <img draggable="false" src="/icons/play.png" id="playPause" alt="" class="icon">
                                <img draggable="false" src="/icons/next.png" id="audNextBtn" alt="" class="icon">
                                <img draggable="false" src="/icons/repeat.png" alt="" class="icon">
                            </div>
                            <div class="bars">
                                <div id="audCurrentTime">0:00</div>
                                <input type="range" name="audioSeeker" id="audSeeker" max="" value="0">
                                <div id="audDuration">03:10</div>
                            </div>
                        </div>
                        <div class="p3">
                            <img draggable="false" id="audVolMute" src="/icons/vol-low.png" alt="" class="icon">
                            <input type="range" name="volBar" id="volSeeker" max="50" value="25">
                            <img draggable="false" id="audVolMax" src="/icons/vol-high.png" alt="" class="icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightBar notSelectable">
            <div class="userInfo">
                <div class="img">
                    <img draggable="false" src="https://i.scdn.co/image/ab6775700000ee85d79258e5f1e3b15828d9a65d" alt="">
                </div>
                <div class="UserDesc">
                    <div class="userName">
                        <h1>CyberRodeo</h1>
                        <p>
                            Premium Member •   
                            <img draggable="false" class="crown" src="/icons/crown.png" alt="">
                        </p>
                    </div>
                    <div class="bellIcon">
                        <img draggable="false" src="/icons/bell.png" alt="">
                    </div>
                </div>
            </div>
            <div class="queues">
                <div class="QTitle">
                    <h4>Recently Played</h3>
                    <h5>See All</h5>
                </div>
                <div class="Qsongs">
                    <div class="QSongs">
                        <div class="SongImg">
                            <img draggable="false" src="https://i.scdn.co/image/ab67616d00001e0203c58779dfc6029341086829" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Shakira!</h4>
                                <h5>1nonly</h5>
                            </div>
                            <div class="SongTime">
                                <h5>12min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img draggable="false" src="https://i.scdn.co/image/ab67616d00001e02b56115c0e231fbf69d3205c6" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Shoot to Thrill!</h4>
                                <h5>AC/DC</h5>
                            </div>
                            <div class="SongTime">
                                <h5>15min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img draggable="false" src="https://i.scdn.co/image/ab67616d00001e021d56e46f3ebfe89377b035a6" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>One Piece - Overtaken</h4>
                                <h5>Geek Music</h5>
                            </div>
                            <div class="SongTime">
                                <h5>30min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img draggable="false" src="https://i.scdn.co/image/ab67616d00001e02f271c489fc5dfdb9cadb1f76" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>One Piece - Strongest!</h4>
                                <h5>Geek Music</h5>
                            </div>
                            <div class="SongTime">
                                <h5>45min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img draggable="false" src="https://i.scdn.co/image/ab67616d00001e02dfb7fffec83a48f0548116f1" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Shot a friend</h4>
                                <h5>Holy Moly</h5>
                            </div>
                            <div class="SongTime">
                                <h5>50min ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img draggable="false" src="https://i.scdn.co/image/ab67616d00001e025644e9037a436715e3a1b9aa" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Close your eyes</h4>
                                <h5>Tungevaag</h5>
                            </div>
                            <div class="SongTime">
                                <h5>1hr ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img draggable="false" src="https://i.scdn.co/image/ab67616d00001e02df239e2378931afd5f2e8ef2" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Aurora</h4>
                                <h5>K-391</h5>
                            </div>
                            <div class="SongTime">
                                <h5>1hr ago</h5>
                            </div>
                        </div>
                    </div>
                    <div class="QSongs">
                        <div class="SongImg">
                            <img draggable="false" src="https://i.scdn.co/image/ab67616d00001e02a6ac979c144339c55131b472" alt="">
                        </div>
                        <div class="SongDesc">
                            <div class="SongInfo">
                                <h4>Unity</h4>
                                <h5>The Walkers</h5>
                            </div>
                            <div class="SongTime">
                                <h5>2hr ago</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Song">
                <div class="songImg">
                    <img id="songCoverImg" draggable="false" onclick="showAlbumTab(this.dataset.albumid)" data-albumId="3nzuGtN3nXARvvecier4K0" src="https://i.scdn.co/image/ab67616d00001e02a108e07c661f9fc54de9c43a" alt="">
                </div>
                <div class="songinfo">
                    <div class="info">
                        <h3 id="trackName" onclick="showSongTab(this.dataset.id)" data-id="698ItKASDavgwZ3WjaWjtz">Faded</h3>
                        <h4 id="songArtist" onclick="showArtistTab(this.dataset.artistid)" data-artistid="7vk5e3vY1uw9plTHJAMwjN">Alan Walker</h4>
                    </div>
                    <div class="likeIcon">
                        <img src="/icons/heart.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/script/musicplayer.js"></script>
<script src="/script/sections.js"></script>
<script src="/script/lyrics.js"></script>
<script src="/script/preloader.js"></script>
<script src="/script/fetch.js"></script>
<script src="/script/seeds.js"></script>
<script src="/script/animation.js"></script>
</html>