<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xpotify</title>
    <link rel="icon" href="/icons/x32.png">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="sidebar">
              <div class="sidebaritems">
                <div class="sidebarLogo">
                    <img src="/icons/x500.png" alt="">          
                </div>
                    <div class="menu">
                            <div class="title">
                                <span>Menu</span>
                                <img src="/icons/sidebar.png" alt="">
                            </div>
                            <div class="listedItems">
                                <ul class="items">
                                    <li>
                                        <img class="optIcons" src="/icons/home.png" alt="">
                                        <span>Home</span>
                                    </li>
                                    <li>
                                        <img class="optIcons" src="/icons/refresh.png" alt="">
                                        <span>Refresh</span>
                                    </li>
                                    <li>
                                        <img class="optIcons" src="/icons/search.png" alt="">
                                        <span>Search</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="title2">
                                <span>Playlists</span>
                                <img src="/icons/add.png" alt="">
                            </div>
                            <div class="listedItems2">
                                <ul class="items">
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa38c1d9d1eae3a41255542bef0" alt="">
                                        <span>Lewis</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa3477916ab859e71ae18d47c23" alt="">
                                        <span>Alan Walker</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa32feb1f8844fdede19e05acc7" alt="">
                                        <span>>_<</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa35f7f8c786f76061b7c8b0b92" alt="">
                                        <span>Russians</span>
                                    </li>
                                    <li>
                                        <img  class="playlistImgs" src="https://i2o.scdn.co/image/ab67706c0000cfa3d95e3248f6643e27f4ea6f16" alt="">
                                        <span>:D</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="endItems">
                                    <div class="Items">
                                        <img src="/icons/settings.png" alt="">
                                        <span>Settings</span>
                                    </div>
                                    <div class="Items">
                                        <img src="/icons/logoutRed.png" alt="">
                                        <span class="logout">Log Out</span>
                                    </div>
                            </div>
                    </div>
              </div>
        </div>
    </div>
</body>
</html>