<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xpotify</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/icons/x32.png">
</head>
<body>
    <div class="content">
        <img class="mainimg" src="/icons/x500.png" alt="">
    </div>
</body>
</html>