<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/v2.css">
    <title id="siteTitle">Home</title>
    <link rel="icon" href="/icons/X/xLogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="leftSection">
            <div class="topSandwich">
                <img id="menuLogo" src="/icons/hamburger.svg" alt="">
                <div class="brandName">
                    <img id="xptfy" src="/icons/xxptf.png" alt="">
                </div>
            </div>
            <div class="NavigationButtons">
                <ul>
                    <li>
                        <div class="navBtnHm">
                            <img src="/icons/hmn.svg" alt="">
                            <span>Home</span>
                        </div>
                    </li>
                    <li>
                        <div class="navBtnExpl">
                            <img src="/icons/explore.svg" alt="">
                            <span>Explore</span>
                        </div>
                    </li>
                    <li>
                        <div class="navBtnLib">
                            <img src="/icons/collection.svg" alt="">
                            <span>Library</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightSection">
            TESTING TESTING TESTING TESTING
        </div>
    </div>
</body>
</html>