<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/v2.css">
    <title id="siteTitle">Home</title>
    <link rel="icon" href="/icons/X/xLogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="leftSection">
            <div class="topSandwich">
                <img id="menuLogo" src="/icons/hamburger.svg" alt="">
                <div class="brandName">
                    <!-- <img id="xptfy" src="/icons/xxptf.png" alt=""> -->
                     <span>XPOTIFY</span>
                </div>
            </div>
            <div class="NavigationButtons">
                <ul>
                    <li>
                        <div class="navBtnHm">
                            <img src="/icons/hmn.svg" alt="">
                            <span>Home</span>
                        </div>
                    </li>
                    <li>
                        <div class="navBtnExpl">
                            <img src="/icons/explore.svg" alt="">
                            <span>Explore</span>
                        </div>
                    </li>
                    <li>
                        <div class="navBtnLib">
                            <img src="/icons/collection.svg" alt="">
                            <span>Library</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="separationBar"></div>
            <div class="newPlaylistBtn">
                <img src="/icons/plus.svg" alt="">
                <span>New playlist</span>
            </div>
            <div class="pinnedPlaylist">
                <ul>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Liked Music</span>
                                <span class="playlistOwner">Auto</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Kickass Metal</span>
                                <span class="playlistOwner">Spotify</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Country Music</span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Russians :)</span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Lewis</span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Alan Walker</span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Bhajan :></span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightSection">
            <div class="topBar">
                <div class="searchBar">
                    <div class="bar">
                        <img src="/icons/searchh.svg" alt="">
                        <input type="text" name="track" id="searchInp" placeholder="Search songs, albums, artists">
                    </div>
                </div>
                <div class="user">
                    <img src="https://avatars.githubusercontent.com/u/72098121?v=4" alt="">
                </div>
            </div>
            <div class="tomBtns">
                <ul>
                    <li>Romance</li>
                    <li>Workout</li>
                    <li>Relax</li>
                    <li>Party</li>
                    <li>Commute</li>
                    <li>Sad</li>
                    <li>Focus</li>
                    <li>Sleep</li>
                    <li>Party</li>
                    <li>Feel good</li>
                </ul>
            </div>
            <div class="greetMsg">
                <div class="greet">Good Evening,</div>
                <div class="greetUser">CyberRodeo!</div>
            </div>
            <div class="savedPlaylists">
                <div class="heading">
                    <span>Saved playlists</span>
                </div>
                <ul>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i2o.scdn.co/image/ab67706c0000cfa37f6c3de4beb7d69044f47b78" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Country Music</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i2o.scdn.co/image/ab67706c0000cfa3477916ab859e71ae18d47c23" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Alan Walker</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i2o.scdn.co/image/ab67706c0000cfa35f7f8c786f76061b7c8b0b92" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Russians :)</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616d00001e02aaeb5c9fb6131977995b7f0e" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Minecraft</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i2o.scdn.co/image/ab67706c0000cfa33f4f6ea452cb4e5c420aa213" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Bruv</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i2o.scdn.co/image/ab67706c0000cfa3ca3188d8c7ec7d6c95ad3be7" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Movie Tracks</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i2o.scdn.co/image/ab67706c0000cfa38c1d9d1eae3a41255542bef0" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Lewis</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i2o.scdn.co/image/ab67706c0000cfa30c336f202775466e9b069bf1" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>REDs</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i2o.scdn.co/image/ab67706c0000cfa32a5d44900527c00d2a00c849" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Bhajan :></span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                                <div class="whoop">
                                    •
                                </div>
                                <div class="PlaylistOwner">
                                    cr
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="savedPlaylists">
                <div class="heading">
                    <span>Suggested artists</span>
                </div>
                <ul>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616100005174e17c0aa1714a03d62b5ce4e0" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Post Malone</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Artist
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616100005174bf753c009fd9c2d53351dd3c" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Alan Walker</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Artist
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616100005174b508f66ab7a0128c1f9b5c56" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Rauf & Faik</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Artist
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616100005174ea7538654040e553a7b0fc28" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Lewis Capaldi</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Artist
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616100005174b784e902a62e289b8e95a438" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Zenake</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Artist
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616100005174cdb9694bfa4a026ee19426ae" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Morgan Wallen</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Artist
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616100005174bd634295d99c61823c517c3f" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Luke Combs</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Public playlist
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab6761610000517469b18a96278c204074a6f265" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Marshmello</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Artist
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="Playlist">
                        <div class="playlistCover">
                            <img class="playlistCoverImage" src="https://i.scdn.co/image/ab67616100005174e6f96cf550aeaf3a51d6a0bb" alt="">
                            <img class="playlistPlayBtn" src="/icons/playyy.svg" alt="">
                        </div>
                        <div class="PlaylistInfo">
                            <div class="PlaylistName">
                                <span>Keshi</span>
                            </div>
                            <div class="PlaylistExtInf">
                                <div class="PlaylistType">
                                    Artist
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="musicPlayer">
        <div class="progessBar">
            
        </div>
        <div class="player">
            <div class="trackInfo">
                <img src="https://i.scdn.co/image/ab67616d0000b27340f1c739f1afe06578b62515" alt="">
                <div class="trackDetails">
                    <div class="trackName">Guy for that (Feat. Luke Combs)</div>
                    <div class="trackArtists">Post Malone & Luke Combs</div>
                </div>
            </div>
            <div class="audioControls">
                <img src="/icons/nextt.svg" alt="">
                <img src="/icons/pausee.svg" alt="">
                <img src="/icons/nextt.svg" alt="">
            </div>
            <div class="extraControls">
                <img src="/icons/speakerr.svg" alt="">
                <img src="/icons/repeattt.svg" alt="">
                <img src="/icons/fs.svg" alt="">
                <img src="/icons/lyricsss.svg" alt="">
                <img src="/icons/queue.svg" alt="">
                <img src="/icons/shuffle.svg" alt="">
            </div>
            <div class="trackCover">
                <img src="https://i.scdn.co/image/ab67616d0000b27340f1c739f1afe06578b62515" alt="">
            </div>
        </div>
    </div>
    <div class="audioSource">
        <audio id="audio" src="/songs/5crxqqibcvoOQQgg4HjAFQ.mp3"></audio>
    </div>
</body>
<script src="/script/animationv2.js"></script>
</html>