<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/v2.css">
    <title id="siteTitle">Home</title>
    <link rel="icon" href="/icons/X/xLogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="leftSection">
            <div class="topSandwich">
                <img id="menuLogo" src="/icons/hamburger.svg" alt="">
                <div class="brandName">
                    <!-- <img id="xptfy" src="/icons/xxptf.png" alt=""> -->
                     <span>XPOTIFY</span>
                </div>
            </div>
            <div class="NavigationButtons">
                <ul>
                    <li>
                        <div class="navBtnHm">
                            <img src="/icons/hmn.svg" alt="">
                            <span>Home</span>
                        </div>
                    </li>
                    <li>
                        <div class="navBtnExpl">
                            <img src="/icons/explore.svg" alt="">
                            <span>Explore</span>
                        </div>
                    </li>
                    <li>
                        <div class="navBtnLib">
                            <img src="/icons/collection.svg" alt="">
                            <span>Library</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="separationBar"></div>
            <div class="newPlaylistBtn">
                <img src="/icons/plus.svg" alt="">
                <span>New playlist</span>
            </div>
            <div class="pinnedPlaylist">
                <ul>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Liked Music</span>
                                <span class="playlistOwner">Auto</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Kickass Metal</span>
                                <span class="playlistOwner">Spotify</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Country Music</span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Russians :)</span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Lewis</span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Alan Walker</span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                    <li>
                        <div class="playlist">
                            <div class="playlistInfo">
                                <span class="playlistName">Bhajan :></span>
                                <span class="playlistOwner">cr</span>
                            </div>
                            <div class="playBtn hide">
                                <img src="/icons/playy.svg" alt="">
                            </div>
                        </div>    
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightSection">
            <div class="topBar">
                <div class="searchBar">
                    <div class="bar">
                        <img src="/icons/searchh.svg" alt="">
                        <input type="text" name="track" id="searchInp" placeholder="Search songs, albums, artists">
                    </div>
                </div>
                <div class="user">
                    <img src="https://avatars.githubusercontent.com/u/72098121?v=4" alt="">
                </div>
            </div>
            <div class="tomBtns">
                <ul>
                    <li>Romance</li>
                    <li>Workout</li>
                    <li>Relax</li>
                    <li>Party</li>
                    <li>Commute</li>
                    <li>Sad</li>
                    <li>Focus</li>
                    <li>Sleep</li>
                    <li>Party</li>
                    <li>Feel good</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="/script/animationv2.js"></script>
</html>